@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-dark-blue: #102252;
}

@font-face {
  font-family: 'ZNtitle';
  src: url('@/assets/font/ZNtitle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ENtitle';
  src: url('@/assets/font/ENtitle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
